.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    /*
    Example of styling multiple elements without giving class names. Using selectors (pseudo-classes)
    */
    span {

        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            font-size: 14px;
        }
    }
}